body {
  margin: 0;
  background-color: #d8d4cc;
}
.App {
  text-align: center;
}

.link {
  color: white;
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  height: 80px;
  width: 100%;
  display: flex;
}
.inner-header {
  width: 1000px;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

.hide {
  display: none;
}

.game-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.caixa {
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px;
  text-align: center;
  margin: 10px;
}

.caixa h3 {
  margin-bottom: 10px;
}

.caixa div {
  display: block;
  margin-bottom: 10px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #34979e;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #216469;
}

.dicas-text {
  color: black;
  cursor: pointer;
}

.dicas-container {
  justify-content: center;
  display: flex;
  margin: auto;
  padding: auto;
  text-shadow: 0.5px 0.5px 1px black;
}

.table {
  margin: auto;
}

.bloco {
  height: 50px;
  width: 50px;
}

.azul {
  background-color: blue;
}

.verm {
  background-color: red;
}

.preto {
  background-color: black;
}
.ul {
  display: inline-block;
  text-align: left;
}
